{% extends "golf_app/golf_app_base.html" %}
{% block body_block %}

  <div class="jumbotron">


  <h1>{{user.get_username}}, here are your picks for the {{tournament}}.  Good luck!</h1>


      <ul>
        {% for pick in picks_list%}

        <li>Group {{pick.playerName.group.number}}:    {{pick.playerName.playerName}}, OWGR: {{pick.playerName.currentWGR}}</li>

        {%endfor%}
      </ul>


  <a href="{% url 'golf_app:field' %}"> <button class="btn btn-primary">Update Picks</button></a>

  </div>


{% endblock %}
