{%extends 'base.html'%}
{%load staticfiles%}

{%block body_block%}
{%load bootstrap%}

<div class="container">

  <div class="jumbotron">
    {%if registered %}
      <h3>Thank you for registering!</h3>
      <a href="{% url 'login' %}"> <button class="btn btn-link">Click here to login</button></a></p>
      {%else%}
      <h3>Golf Pick 'em Registration</h3>
      <br>
      <form  method="post">
        {% csrf_token %}
        {{form|bootstrap}}
        {{player_form|bootstrap}}

        <input type="submit" class='button btn-primary' name="" value="Register">
      </form>
      {%endif%}
  </div>
</div>
{%endblock%}
