{%extends 'base.html'%}
{%load staticfiles%}

{%block body_block%}
{%load bootstrap%}


{% if form.errors %}
{% for field in form %}
    {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong id="errors">{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
{% endfor %}
{% endif %}


<div class="data">

  <div class="form">
    {%if registered %}
      <h3>Thank you for registering!</h3>
      <a href="{% url 'login' %}"> <button class="btn btn-link">Click here to login</button></a>
      {%else%}
      <img src="{%static '/golf_app/'|add:league.avatar.url%}" width='20%' alt="">
      <h3>Golf Pick 'em Registration</h3>
      <br>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|bootstrap}}>
        {{player_form|bootstrap}}

        <input type="submit" class='button btn-primary' name="" value="Register">
      </form>
      {%endif%}
  </div>
</div>
{%endblock%}
