{% extends 'base.html' %}

{% block body_block %}
  <div class="jumbotron">
    <h1>Choose a game from the list below</h1>
    <p></p>
    <p></p>

    <p>Golf Game Options</p>
    <a href="{% url 'golf_app:field' %}"> <button class="btn btn-primary">Make Golf picks</button></a>
    <a href="{% url 'golf_app:scores'%}"> <button class="btn btn-primary">Current Week Scores</button></a>
    <a href="{% url 'golf_app:total_score'%}"> <button class="btn btn-primary">Season Totals</button></a>
    <br>
    <br>
    <br>
    <br>
    {%if user.is_superuser%}
    <p>John's Menu:</p>
      <a href="{% url 'golf_app:setup' %}"> <button class="btn btn-primary">Golf Setup</button></a>
      <a href="{% url 'admin:index' %}"> <button class="btn btn-primary">Admin</button></a>
    {%endif%}


  </div>
{% endblock %}
