{%extends 'base.html'%}
{%load static%}

{%block body_block%}
<link rel="stylesheet" href={%static "golf_app/css/index.css" %}>


<div class="row backgroundimg">
    <div class="xcontainer-fluid white-border">
      <h1>{{user.username}} </h1>
        <h1>Welcome to Golf Pick 'em</h1>
      <h1>Group: {{player.league.league}}</h1>
    </div>
</div>
<br>
{%if user.is_authenticated%}
<div class="row gray">
    <p>Game Options - Please select an option below</p>
    <hr>
</div>
{%else%}
<div class="row gray">
    <p>To create a group, please register/login</p>
    <hr>
</div>
{%endif%}


  <div class="row">
        {%if user.is_authenticated%}
        {% if user == player.league.owner%}
        <div class="options">
            <a href="{% url 'golf_app:update_league' pk=player.league.pk %}">
            <img class= "pic" src="{%static 'golf_app/images/group.jpg'%}" alt="{%static 'golf_app/images/group.JPG'%}" />
            <div class="top-text black">Update Group</div>
            <div class="bottom-text white">Update Group</div>
            </a>
        </div>
        {%elif player.player.invite.registered%}
        <div class="options">
            <a href="{% url 'golf_app:view_league' pk=player.league.pk %}">
            <img class= "pic" src="{%static 'golf_app/images/group.jpg'%}" alt="{%static 'golf_app/images/group.JPG'%}" />
            <div class="top-text black">View Group</div>
            <div class="bottom-text white">View Group</div>
            </a>
        </div>
        {%else%}
        <div class="options">
            <a href="{% url 'golf_app:create_league' %}">
            <img class= "pic" src="{%static 'golf_app/images/group.jpg'%}" alt="{%static 'golf_app/images/group.JPG'%}" />
            <div class="top-text black">Create Group</div>
            <div class="bottom-text white">Create Group</div>
            </a>
        </div>

        {%endif%}

        <div class="options">
            <a href="{% url 'golf_app:join_league' %}">
            <img class= "pic" src="{%static 'golf_app/images/join-group.jpg'%}" alt="background-color:#666;" />
            <div class="top-text black">Join Group</div>
            <div class="bottom-text black">Join Group</div>
            </a>
        </div>

        <div class="options">
            <a href="{% url 'golf_app:field' %}">
            <img class= "pic" src="{%static 'golf_app/images/tee.jpg'%}" alt='background-color:#666' />
            <div class="top-text black">Make Picks</div>
            <div class="bottom-text white">Make Picks</div>
            </a>
        </div>

        <div class="options">
            <a href="{% url 'golf_app:scores' %}">
            <img class= "pic" src="{%static 'golf_app/images/weekly.jpg'%}" alt="background-color:#666;" />
            <div class="top-text white">Current Week Scores</div>
            <div class="bottom-text white">Current Week Scores</div>
            </a>
        </div>

        <div class="options">
            <a href="{% url 'golf_app:total_score' %}">
            <img class= "pic" src="{%static 'golf_app/images/season.jpg'%}" alt="background-color:#666;" />
            <div class="top-text black">Total Scores</div>
            <div class="bottom-text white">Total Scores</div>
            </a>
        </div>
        <div class="leaderboard">
          <h3>Leader Board</h3>
          <p>put something here.</p>
          <p>Maybe some links</p>
          <p>Or league scores, standings</p>
          <p>Also fix padding and break out display css for big/small screens</p>

        </div>

        <br>
        {%else%}
        <!-- <h1>Please Login to access the game</h1>
        <a href="{% url 'login' %}"> <button class="btn btn-primary">Login</button></a> -->

        <div class="options">
            <a href="{% url 'login' %}">
            <img class= "pic" src="{%static 'golf_app/images/login.png'%}" alt="background-color:#666;" />
            <div class="top-text black">register/login</div>
            <div class="bottom-text black">register/login</div>
            </a>
        </div>

        <div class="options">
            <a href="{% url 'golf_app:join_league' %}">
            <img class= "pic" src="{%static 'golf_app/images/join-group.jpg'%}" alt="background-color:#666;" />
            <div class="top-text black">Have a code? Join Group</div>
            <div class="bottom-text black">Join Group</div>
            </a>
        </div>

        {%endif%}
  </div>

{%if user.is_authenticated%}
  <div class="row gray">
    <p class="text-center">Game Options - Please select an option above</p>
    <hr>
  </div>
{%else%}
<div class="row gray">
  <p class="text-center">To create a group, please register/login</p>
  <hr>
</div>
{%endif%}





{%endblock%}
